.saved-songs-container  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  margin-left: 15%;
  height: 80%;
  width: 70%;
  overflow: auto;
}

.saved-container  {
  overflow: auto;
}

.saved-container::-webkit-scrollbar {
  width: 10px;
  background: #414141;
  border-radius: 15px;
}

.saved-container::-webkit-scrollbar-thumb{
  background: #747474;
  border-radius: 15px;
}

.saved-header {
  font-size: 4vh;
  font-family: 'Josefin Sans', sans-serif;
  color: #5394B8;
}