.header-top {
  margin-bottom: 0px;
  width: 50%;
  text-align: center;
  font-size: 2.5vh;
  color: #C3DBB8;
}

.header  {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13vh;
  font-weight: 800;
}

.header-bottom  {
  margin-top: 0px;
  margin-bottom: 5%;
  width: 60%;
  text-align: center;
  font-size: 2.5vh;
  color: #C3DBB8;
}

.button {
  height: 35px;
  width: 125px;
  background-color: #3E6B4A;
  color: #FFFFFE;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.button:hover {
  background-color: #457b53;
  transition: all .3s ease-in-out;
  width: 135px;
}