.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 77%;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}

.header-bottom {
  width: 85%;
  margin-bottom: 10%;
  font-size: 2.5vh;
}

.header  {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13vh;
  font-weight: 800;
  letter-spacing: .7rem;
  color: #D3E3F3
}

.header-top  {
  width: 95%;
  margin-top: 10%;
  margin-bottom: 2.5%;
  font-size: 3vh;
  font-weight: 800;
  letter-spacing: .1.5rem;
}

.button {
  height: 35px;
  width: 125px;
  background-color: #5394b8;
  color: #FFFFFE;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.button:hover {
  background-color: #69a1be;
  transition: all .3s ease-in-out;
  width: 135px;
}

@media screen and (max-width: 75em) {
  .header {
    font-size: 12vh;
  }

  .header-top, .header-bottom {
    font-size: 2.25vh;
  }
}

@media screen and (max-width: 55em) {
  .header {
    font-size: 11vh;
  }

  .header-top, .header-bottom {
    font-size: 2vh;
  }
}

@media screen and (max-width: 45em) {
  .header {
    font-size: 10vh;
  }

  .header-top, .header-bottom {
    font-size: 2vh;
  }
}