.search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: 70%;
  margin-top: 25%;
  margin-right: 12.5%;
  margin-left: 12.5%;
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
}

.search-header  {
  margin-bottom: 5%;
  font-size: 4vh;
  font-family: 'Josefin Sans', sans-serif;
  color: #5394B8;
}

.search-description {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2.25vh;
  font-family: 'Montserrat', sans-serif; 
}

.location-field  {
  width: 65%;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  border-radius: 25px;
  text-align: left;
  font-size: 2.25vh;
  font-family: 'Montserrat', sans-serif; 
}

.query-field  {
  width: 62.5%;
  height: 38px;
  margin-bottom: 5%;
  border: none;
  border-radius: 25px;
  text-align: left;
  font-size: 2.25vh;
  font-family: 'Montserrat', sans-serif; 
  padding-left: 15px;
  color: black;
}

@media screen and (max-width: 75em) {
}

@media screen and (max-width: 55em) {
  .search-description {
    font-size: 2vh;
  }
}

@media screen and (max-width: 45em) {
  .search-container {
    margin-top: 30%;
  }
  .search-description {
    font-size: 1.75vh;
    margin: 5%;
  }
}

@media screen and (max-width: 35em) {
}

